<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Upload JavaScript with Progress Bar</title>
  <link rel="stylesheet" type="text/css" href="cmd/static/style1.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="wrapper">
    <header>File Uploader</header>
    <form action="#">
      <div class="input-field">
        <input type="text" required>
        <label>Type</label>
        <select>
          <option value="Agro">Agro</option>
          <option value="Elevage">Elevage</option>

        </select>
      </div>
      <div class="input-field">
          <input type="text" required>
          <label>Mois</label>
      </div>
      <div class="input-field">
          <input type="text" required>
          <label>Année</label>
      </div>
      <div class="input-field">
          <input type="text" required>
          <label>Localité</label>
      </div>  
      <input class="file-input" type="file" name="file" hidden>
      <i class="fas fa-cloud-upload-alt"></i>
      <p>Browse File to Upload</p>
    </form>
    <section class="progress-area"></section>
    <section class="uploaded-area"></section>
  </div>

  <script src="/cmd/static/js/upload.js"></script>

</body>
</html>